fastapi==0.104.1
uvicorn==0.23.2
faster-whisper==1.1.1
--extra-index-url https://download.pytorch.org/whl/cu124
ctranslate2==4.5.0
torch==2.4.0+cu124
torchaudio==2.4.0+cu124
python-multipart==0.0.7
python-dotenv==1.0.0
sounddevice==0.4.6
numpy>=1.26.0
requests==2.32.3
pynput==1.7.6
scipy==1.11.3
